import org.springframework.beans.BeanUtils;
import org.springframework.stereotype.Component;

${config.fileHeader}
@Component
public class ${table.beanName}Converter
        extends AbstractObjectConverter<${table.beanName}, ${table.beanName}DO> {

    @Override
    protected ${table.beanName}DO onBuildDto(${table.beanName} model) {
        ${table.beanName}DO dataObject = new ${table.beanName}DO();
        #foreach($column in $table.columns)
        dataObject.set${column.beanName}(model.get${column.beanName}());
        #end
        return dataObject;
    }

    @Override
    protected ${table.beanName} onBuildModel(${table.beanName}DO model) {
        return new ${table.beanName}.${table.beanName}Builder()
                #foreach($column in $table.columns)
                .${column.fieldName}(model.get${column.beanName}())
                #end
                .build();
    }
}
