import java.util.List;

${config.fileHeader}
public interface ${table.beanName}DAO {

    /**
     * 根据ID查询
     *
     * @param id 数据库ID
     * @return 查询结果
     */
    ${table.beanName}DO findById(Long id);

    /**
     * 根据 ID 批量查询
     *
     * @param ids 数据库 ID 列表
     * @return 批量查询结果
     */
    List<${table.beanName}DO> findByIds(List<Long> ids)

    /**
     * 根据id更新一调数据
     *
     * @param updateParam 更新参数
     * @return 更新条数
     */
    int updateById(${table.beanName}DO updateParam);

    /**
     * 新增一条记录
     *
     * @param ${table.injectName}DO 插入的数据
     * @return 更新条数
     */
    int insert(${table.beanName}DO ${table.injectName}DO);

    /**
     * 批量新增记录
     *
     * @return true if insert success of data is empty
     */
    boolean batchInsert(List<${table.beanName}DO> list);

    /**
     * 根据 id 删除数据
     *
     * @param id 数据库 id
     * @return true if success
     */
    boolean deleteById(Long id);
}