${config.fileHeader}
public interface ${table.beanName}Repository {

    /**
     * 保存数据
     */
    boolean save(${table.beanName} ${table.injectName});

    /**
     * 查询
     */
    ${table.beanName} find(Long id);

    /**
     * 批量查询
     */
    List<${table.beanName}> findByIds(List<Long> ids);

    /**
     * 删除数据
     */
    boolean remove(Long id);

}