import java.util.List;

public interface ${table.beanName}DAO {

    /**
     * 根据查询参数查询数据
     *
     * @param query 查询参数
     */
    List<#if(${config.needDO})${table.beanName}DO#else${table.beanName}#end> query(${table.beanName}Query query);

    /**
     * 根据查询参数查询数据总量
     *
     * @param query 查询参数
     */
    Integer count(${table.beanName}Query query);

    /**
     * 根据ID查询
     *
     * @param id 数据库ID
     */
    #if(${config.needDO})${table.beanName}DO#else${table.beanName}#end findById(Long id);

    /**
     * 根据id更新一调数据
     *
     * @param updateParam 更新参数
     */
    int updateById(#if(${config.needDO})${table.beanName}DO#else${table.beanName}#end updateParam);

    /**
     * 新增一条记录
     */
    int insert(#if(${config.needDO})${table.beanName}DO ${table.injectName}DO#else${table.beanName} ${table.injectName}#end);

}