import org.mybatis.spring.support.SqlSessionDaoSupport;
import org.springframework.stereotype.Repository;
import org.springframework.util.Assert;

import java.util.Date;
import java.util.List;

${config.fileHeader}
@Repository
public class ${table.beanName}DAOImpl
    extends SqlSessionDaoSupport
    implements ${table.beanName}DAO {

    @Override
    public List<#if(${config.needDO})${table.beanName}DO#else${table.beanName}#end> query(${table.beanName}Query query) {

        Assert.notNull(query, "查询参数不能为空");

        query.decorate();

        return this.getSqlSession().selectList("${table.namespace}.QUERY", query);
    }

    @Override
    public Integer count(${table.beanName}Query query) {

        Assert.notNull(query, "查询参数不能为空");

        return this.getSqlSession().selectOne("${table.namespace}.COUNT", query);
    }

    @Override
    public #if(${config.needDO})${table.beanName}DO#else${table.beanName}#end findById(Long id) {

        Assert.notNull(id, "id不能为空");

        return this.getSqlSession().selectOne("${table.namespace}.FIND_BY_ID", id);
    }

    @Override
    public int updateById(#if(${config.needDO})${table.beanName}DO#else${table.beanName}#end updateParam) {

        Assert.notNull(updateParam, "更新参数不能为空");
        Assert.notNull(updateParam.getId(), "id不能为空");

        updateParam.setGmtCreate(null);
        updateParam.setGmtModified(new Date());

        return this.getSqlSession().update("${table.namespace}.UPDATE_BY_ID", updateParam);
    }

    @Override
    public int insert(#if(${config.needDO})${table.beanName}DO ${table.injectName}DO#else${table.beanName} ${table.injectName}#end) {

        checkParamForInsert(#if(${config.needDO})${table.injectName}DO#else${table.injectName}#end);

        #if(${config.needDO})${table.injectName}DO#else${table.injectName}#end.setGmtCreate(new Date());
        #if(${config.needDO})${table.injectName}DO#else${table.injectName}#end.setGmtModified(null);

        return this.getSqlSession().insert("${table.namespace}.INSERT", #if(${config.needDO})${table.injectName}DO#else${table.injectName}#end);
    }

    private void checkParamForInsert(#if(${config.needDO})${table.beanName}DO ${table.injectName}DO#else${table.beanName} ${table.injectName}#end) {
        Assert.notNull(#if(${config.needDO})${table.injectName}DO#else${table.injectName}#end, "参数不能为空");

        //TODO check code
    }
}