package 
import java.io.Serializable;
#foreach($column in $table.columns)
#if(!$column.javaType.startsWith("java.lang"))
import ${column.javaType};
#end
#end

public class ${table.beanName}DO implements Serializable{

    private static final long serialVersionUID = 1L;

#foreach($column in $table.columns)

    /**
     * ${column.comment}
     */
    private ${column.SimpleJavaType} ${column.fieldName};
#end

}