import com.tongbanjie.commons.util.AbstractObjectConverter;
import org.springframework.beans.BeanUtils;
import org.springframework.stereotype.Component;

@Component
public class ${table.beanName}DTOConverter extends AbstractObjectConverter<${table.beanName}, ${table.beanName}DTO> {

    @Override
    protected ${table.beanName}DTO onBuildDto(${table.beanName} model) {
        ${table.beanName}DTO domain = new ${table.beanName}DTO();
        BeanUtils.copyProperties(model, domain);
        return domain;
    }

    @Override
    protected ${table.beanName} onBuildModel(${table.beanName}DTO domain) {
        ${table.beanName} model = new ${table.beanName}();
        BeanUtils.copyProperties(domain, model);
        return model;
    }
}
