import java.util.List;

${config.fileHeader}
public interface ${table.beanName}Service {

    /**
     * 根据查询参数查询数据
     *
     * @param query 查询参数
     * @return 查询结果
     */
    List<${table.beanName}> query(${table.beanName}Query query);

    /**
     * 根据查询参数查询数据总量
     *
     * @param query 查询参数
     * @return 数据总量
     */
    Integer count(${table.beanName}Query query);

    /**
     * 根据ID查询
     *
     * @param id 数据库ID
     * @return 查询结果
     */
    ${table.beanName} findById(Long id);

    /**
     * 根据id更新一调数据
     *
     * @param updateParam 更新参数
     * @return 影响条数
     */
    int updateById(${table.beanName} updateParam);

    /**
     * 新增一条记录
     * @param ${table.injectName} 插入数据
     * @return 影响条数
     */
    int insert(${table.beanName} ${table.injectName});
}